/order-service/src/main/resources/application.properties
/product-service/src/main/resources/application.properties
/inventory-service/src/main/resources/application.properties
/discovery-server/src/main/resources/application.properties
/notification-service/src/main/resources/application.properties
/api-gateway/src/main/resources/application.properties
